@model _23dh112072_MyStore.Models.ViewModel.HomeProductVm
@{
    ViewBag.Title = "Customer Home Page";
    <link rel="stylesheet" type="text/css" href="~/Content/MyStyle/CustomerHome.css" />
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
<section class="container-fluid banner">
    <div class="banner-container">
        <h2>Chào mừng đến với Trang web mua sắm </h2>
        <p>Nơi có những sản phẩm chất lượng</p>
        <a>Bắt đầu mua sắm</a>
    </div>
</section>

<section class="container-fluid searchProd">
    <h2>Tìm kiếm sản phẩm</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "search-input", placeholder = "Nhập tên,mô tả hoặc loại sản phẩm" })
            <button type="submit" class="search-button">Tìm kiếm</button>
        </div>
    }

</section>
@Html.Partial("PVFeatureProduct", Model)

@Html.Partial("PVNewProduct", Model)

